body {
    font-family: Arial;
    padding-top: 100px;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href], .badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;  /* so that it remains in the div and doesn't overflow */
    background-position: center center; /* to make sure it's centered in the div */
    background-repeat: no-repeat; /* to prevent tiling if the image is too small */
    width: 150px; /* regardless of the size of the image you upload it will fit into 150x150 */
    height: 150px;
    margin: 0 auto; /* to center the divs within the other divs */
}

caption p {
    word-wrap: break-word; /* to prevent overflow */
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel {
    box-shadow: none;
}

.panel-default {
    border-color: transparent; /*so you won't see the border */
    padding: 0 10px;    
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd; /* this is the outermost border so that you can see the delineation between one product and the next */   
}

.product-description {
    min-height: 40px;
}